/asr_transcription.txt
/gemma4_llama_cpp_server.bat
/gemma4_on_llama_cpp.ipynb
/gemma4_on_llama_cpp.py
/gemma4_text_only_llama_cpp_server.bat
/output_transcription.txt
/project_env
/qwen3asr_llama_cpp_server.bat
/transcription.txt