# Non-Python packages (ffmpeg and llama.cpp) are required. Please install them separately.
requests>=2.28
numpy>=1.23
librosa>=0.10
SoundFile>=0.12
scipy>=1.10
tqdm>=4.60
audioread>=3.0
typing-extensions